{% extends 'rw:html5' %}

{% block body %}
Error: {{ error }}

<h2>Download</h2>
<a href="http://opensource.adobe.com/wiki/display/flexsdk/Download+Flex+4.5">Adobe Flex 4.5 downloads</a> <br>
<a href="http://fpdownload.adobe.com/pub/flex/sdk/builds/flex4.5/flex_sdk_4.5.0.20967.zip">Version 4.5.0 build 20967 Direct Download</a>

<h2>Fix Permissions</h2>
try (as root):<br>
<pre>
cd {{ path }}
find . -type d | xargs -I{} chmod o+xr "{}"
find . | xargs -I{} chmod o+r "{}"
chmod +x bin/*
</pre>
{% endblock %}